
<!DOCTYPE html>
<html lang="en">
<body>
    <!--A Footer that is on every page-->
<footer>
    
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="navbar-text">&copy; 2024 by E.S All Rights Apply  </h6>
    <a href="https://github.com/EmilySkinnerOTU" >
    <img src="/images/github.png" alt="Github" class="footericon" height="40px" width="auto" ></a>
    </nav>


</body>


</html>
