<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="device=device-width, initial-scale=1.0">
        <!-- Creates the title that appears in the url-->
        <title>Home Page</title>
        <!--Stylesheet link-->
        <link rel="stylesheet" type="text/css" href="../public/content/app.css">
        
        <div id="banner">
            
            <%- include('header')%>
            
        </div>
           
    </head> 
     
    <body>
        
        <nav id="wrapper">
            
        </nav>
        <!--The footer! It returns-->
        <%- include('footer')%>
    </body>
    
</html>