<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--This forces values to fit on the device its being viewed on-->
        <meta name="viewport" content="device=device-width, initial-scale=1.0">
        <!-- Creates the title that appears in the url-->
        <title>Home Page</title>
        <!--States what Stylesheet is being used by linking it-->
        <link rel="stylesheet" type="text/css" href="../public/content/app.css">
        <!--Declares the following is under the Banner Section-->
        <div id="banner">
            <!--Creates a seperate Navagation-->
            <%- include('header')%>
            
        </div>
           
    </head> 
    <!--Body Section Starts-->  
    <body>
        <!--The following is in the wrapper id-->
        <nav id="wrapper">
            
        </nav>
        <!--The footer! It returns-->
        <%- include('footer')%>
    </body>
    
</html>